@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.myfont {
    font-family: "Bona Nova SC", serif;
    font-weight: 350;
    font-style: normal;
    font-size: xx-large;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }